/* ===== Primary Styles ========================================================
   Author: J. Dunmire
   ========================================================================== */
.mediummap {
  height: 500px;
}

.hero-map {
  height: 300px;
}

.mediumplot {
  height: 200px;
}

.row {
  padding: 10px 0;
}

.row-fluid {
  padding: 10px 0;
}

.myTracksDesc {
  margin-left: 20px;
}

.hero-unit .featuredDesc p {
  margin: 0 0 9px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.about p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.about dl {
  font-size: 14px;
}

.about dt {
  margin-top: 10px; 
}

.statTable {
  margin-left: 20px;
}

.statLabel {
  text-align: right
}

.statSep {
  padding: 0 5px;
}

.stat {
  text-align: right
}

.stat_m {
  padding: 0 5px;
  text-align: left
}

.hero-unit {
  padding-top: 30px;
}

.lat {
  display: none;
}

.lon {
  display: none;
}

P.license {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* extensions for table sorter */

/* styles from tablesorter 'blue' */
table.tablesorter th {
	border-collapse: collapse;
/*	font-size: 12px; */
	padding: 4px;
}
table.tablesorter,
table.tablesorter th,
table.tablesorter td {
	background-color: #e6eeee;
	border: #cdcdcd 1px solid;
}

table.tablesorter .header,
table.tablesorter .tablesorter-header {
	/* black double arrow */
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	/* white double arrow */
	/* background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==); */
	/* image */
	/* background-image: url(black-bg.gif); */
	background-repeat: no-repeat;
	background-position: center right;
	padding: 4px 20px 4px 4px;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3d3d3d;
	padding: 4px;
	background-color: #fff;
	vertical-align: top;
}
table.tablesorter th.headerSortUp,
table.tablesorter th.tablesorter-headerSortUp {
	background-color: #8dbdd8;
	/* black asc arrow */
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
	/* white asc arrow */
	/* background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7); */
	/* image */
	/* background-image: url(black-asc.gif); */
}
table.tablesorter th.headerSortDown,
table.tablesorter th.tablesorter-headerSortDown {
	background-color: #8dbdd8;
	/* black desc arrow */
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
	/* white desc arrow */
	/* background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7); */
	/* image */
	/* background-image: url(black-desc.gif); */
}
/* used to hide a tbody while rebuilding to speed it up */
table.tablesorter .tablesorter-hidden {
	display: none;
}

.numPages {
  width: 50px;
  background-color: #DDD;
  font-size: 11px;
  margin-bottom: 0px;
  margin-right: 10px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

.searchBtn {
  padding: 2px 7px;
}


/* filter widget, added to style.css themes */ 
table.tablesorter thead tr.filters input { 
    width: 95%; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
} 
table.tablesorter thead tr.filters, table.tablesorter thead tr.filters td { 
    text-align: center; 
    background: #1ff; 
} 
/* disabled input styling */ 
table.tablesorter thead tr.tablesorter-filter input.disabled { 
  display: none;
}
