/* ===== Primary Styles ========================================================
   Author: J. Dunmire
   ========================================================================== */
.mediummap {
  height: 500px;
}

.hero-map {
  height: 300px;
}

.mediumplot {
  height: 200px;
}

.row {
  padding: 10px 0;
}

.row-fluid {
  padding: 10px 0;
}

.myTracksDesc {
  margin-left: 20px;
}

.hero-unit .myTracksDesc p {
  margin: 0 0 9px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.statTable {
  margin-left: 20px;
}

.statLabel {
  text-align: right
}

.statSep {
  padding: 0 5px;
}

.stat {
  text-align: right
}

.stat_m {
  padding: 0 5px;
  text-align: left
}

.hero-unit {
  padding-top: 30px;
}

P.license {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* extensions for table sorter */
table.tablesorter thead tr .header {
  background-image: url("../img/bg.gif");
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url("../img/asc.gif");
}
table.tablesorter thead tr .headerSortDown {
	background-image: url("../img/desc.gif");
